@charset "UTF-8";
.boton--enviar, .boton--resetear {
  width: 100px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black; }

.boton--resetear {
  width: 150px;
  background-color: lightgrey; }

header {
  background-color: ghostwhite; }
  header .contenedor__logoheader {
    display: flex;
    justify-content: center; }
    header .contenedor__logoheader img {
      width: 230px;
      padding: 20px;
      transition: 0.5s; }
      header .contenedor__logoheader img:hover {
        width: 300px; }

.barranav__header {
  display: flex;
  align-items: flex-end;
  font-size: 17px; }

.boton--enviar, .boton--resetear {
  width: 100px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black; }

.boton--resetear {
  width: 150px;
  background-color: lightgrey; }

.imagen__fondo {
  background-image: url(../assets/img/fondoimg.jpg);
  height: 1000px; }
  .imagen__fondo h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px; }
  .imagen__fondo .contenido__paginas {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; }

.boton--enviar, .boton--resetear {
  width: 100px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black; }

.boton--resetear {
  width: 150px;
  background-color: lightgrey; }

footer {
  background-color: ghostwhite;
  height: 280px; }
  footer .contenedor__logofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; }
    footer .contenedor__logofooter .tamañologofooter {
      width: 125px;
      padding: 35px; }

.contacto-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 10px; }

.boton--enviar, .boton--resetear {
  width: 100px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black; }

.boton--resetear {
  width: 150px;
  background-color: lightgrey; }

* {
  margin: 0px;
  color: black !important;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Mochiy Pop P One', sans-serif; }
