@import "sass2";

.imagen__fondo {
	background-image: url(../assets/img/fondoimg.jpg);
	height: 1200px;

	h1 {
		display: flex;
		justify-content: center;
		text-align: center;
		padding-top: 100px;
	}

	.contenido__paginas{
		@include flex-center-column;
	}
}

