@import "sass2";

.imagen__fondo {
	background-image: url(../assets/img/fondoimg.jpg);
	height: 1000px;

	h1 {
		display: flex;
		justify-content: center;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.contenido__paginas{
		@include flex-center-column;
	}
}

h3{
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 50px;
}


