@import "header";

@import "contenido";

@import "footer";

* {
	margin: 0px;
	color: black !important;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Mochiy Pop P One', sans-serif;
}







