@import "header";

@import "contenido";

@import "footer";

@import "sass2";

@import "marcas";

* {
	margin: 0px;
	color: map-get($paletaColores, negro)!important;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Mochiy Pop P One', sans-serif;
}







